.active-inq a{
    color: wheat;
}
.inquiry{
    padding-top: 140px;
}
.contact .info-item {
    cursor: pointer;
    background: #f4f4f4;
    padding: 30px;
    height: 100%;
    transition: 0.3s;
}
.contact .info-item:hover{
    background-color: #21406e;
}
.contact .info-item.active-item {
    background-color: #101E33;
}
.contact .info-item:hover h3, .contact .info-item.active-item h3{
    color: #fff;
}
  
.contact .info-item h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #101E33;
    font-weight: 500;
    font-family: Beaufort, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1.3;
}  
.contact .php-email-form {
    width: 100%;
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}
.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    font-family: Beaufort, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
    letter-spacing: .2em;
    line-height: 1.3;
}
.contact .php-email-form input {
    height: 60px;
}
.contact .php-email-form textarea{
    padding-top: 20px;
}
.contact .php-email-form button[type="submit"] {
    background: #101E33;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    font-weight: 500;
    font-family: Beaufort, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1.3;
}